{% set page = 'games' %}
{% extends 'GameProjectAdminBundle::layout.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/game.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/main.js') }}"></script>
    <script src="{{ asset('js/game.js') }}"></script>
{% endblock %}

{% block mainBlock %}
    <div class="page-header">
        <h1>Games</h1>
    </div>
    <div class="page-content">
        <div class="alert alert-success info-block info-block-success"></div>
        <div class="alert alert-danger info-block info-block-error"></div>
        <a href="{{ path('admin_add_game_view') }}" class="btn btn-primary">
            <span class="glyphicon glyphicon-plus"></span> Add game
        </a>

        {% for game in pagination %}
            <div class="game-block">
                <div class="row">
                    <div class="col-sm-10">
                        <h3>{{ game.displayName }}</h3>
                        {% set counter = 1 %}
                        {% set gameContentLength = game.getGameContents|length %}
                        <p class="links">Links:
                        {% for gameContent in game.getGameContents %}
                            {% set content = (gameContent.isActive) ? gameContent.linkDisplay : '<span style="color:red">'~gameContent.linkDisplay~'</span>' %}
                            {{ content|raw }}
                            {{ (counter >= gameContentLength) ? '' : ',' }}
                            {% set counter = counter + 1 %}
                        {% endfor %}
                        </p>
                    </div>
                    <div class="col-sm-2">
                        <a href="{{ path('admin_update_game_view', {id: game.id}) }}" type="button" class="btn btn-primary btn-block">Edit</a>
                    </div>
                </div>
            </div>
            <hr>
        {% endfor %}

        <nav>
            {{ knp_pagination_render(pagination) }}
        </nav>
    </div>
{% endblock %}