{% set page = 'categories' %}
{% extends 'GameProjectAdminBundle::layout.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/category.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/main.js') }}"></script>
    <script src="{{ asset('js/category.js') }}"></script>
{% endblock %}

{% block mainBlock %}
    <div class="page-header">
        <h1>Categories</h1>
    </div>
    <div class="page-content">
        <div class="alert alert-success info-block info-block-success"></div>
        <div class="alert alert-danger info-block info-block-error"></div>
        <a href="{{ path('admin_add_category_view') }}" class="btn btn-primary">
            <span class="glyphicon glyphicon-plus"></span> Add category
        </a>

        {% for category in pagination %}
            <div class="game-block">
                <div class="row">
                    <div class="col-sm-10">
                        <h3>{{ category.displayName }}</h3>
                    </div>
                    <div class="col-sm-2">
                        <a href="{{ path('admin_update_category_view', {id: category.id}) }}" type="button" class="btn btn-primary btn-block">Edit</a>
                    </div>
                </div>
            </div>
            <hr>
        {% endfor %}

        <nav>
            {{ knp_pagination_render(pagination) }}
        </nav>
    </div>
{% endblock %}